@import url('https://fonts.googleapis.com/css2?family=Amatic+SC&family=Arvo&family=Dancing+Script&family=Major+Mono+Display&family=Mooli&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Amatic+SC&family=Arvo&family=Caveat&family=Cinzel&family=Dancing+Script&family=Major+Mono+Display&family=Mooli&family=Pacifico&family=Sedgwick+Ave+Display&family=Shadows+Into+Light&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Amatic+SC&family=Arvo&family=Caveat&family=Cinzel&family=Dancing+Script&family=Great+Vibes&family=Major+Mono+Display&family=Mooli&family=Pacifico&family=Sedgwick+Ave+Display&family=Shadows+Into+Light&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Amatic+SC&family=Arvo&family=Caveat&family=Cinzel&family=Dancing+Script&family=Great+Vibes&family=Major+Mono+Display&family=Mooli&family=Pacifico&family=Playfair+Display+SC&family=Sedgwick+Ave+Display&family=Shadows+Into+Light&display=swap');



* {
    margin: 0px;
    padding: 0px;
}
.mind
{
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.paper
{
   width:1485px;
   height:739px;
}
.logo
{
    width:140px;
    height:110px;
    display:flex;
}
.title
{
    font-style:oblique;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: #ed41a0;
    
}
.icons
{
    width:46px;
    height:30px;
    
}
.t1
{
    font-size:14px;
}
.home {
    padding: 20px; 
    text-align: center; 
    font-size: 50px; 
    color: #000210;
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  }
  
  
  body {
    margin: 0; 
    padding: 0; 
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-image: url('https://img.freepik.com/premium-photo/white-background-with-leaves-words-i-love-you-it_900321-11918.jpg'); 
    background-size: cover; 
    background-repeat: no-repeat; 
    background-attachment: fixed; 
    font-family: Arial, sans-serif; 
    color: #ffffff;
    
  }
  

.topbar {
    position: fixed;
    top: 0;
    right: 0;
    display: flex;
    height: 5%;
    width: 90%;
    /* padding: .5rem; */
    background-color: #fff;
    align-items: center;
    box-shadow:
        0px 8px 18px rgba(0, 0, 0, 0.07);
}

.user {
    position: absolute;
    right: 1%;
}
.username-color{
    color:rgb(95, 1, 184);
}
.left-bar {
    background-color: #ffffff;
    color: #000000;
    height: 100%;
    position: fixed;
    width: 10%;
    left: 0;
    top: 0;
    box-shadow:
        16px 2px 28px rgba(0, 0, 0, 0.07);
}

.left-bar-container {
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    gap: 0.4rem;
    align-items: center;
    margin-top: 3rem;
}

.left-bar-button {
    border: none;
    background-color: #fff;
    color: rgb(95, 1, 184);
    border-left: 4px solid rgb(95, 1, 184);
    border-right: 2px solid #fff;
}

.left-bar-button-logout {
    border: none;
    border-left: 4px solid #ff0000;
    border-right: 2px solid #fff;
    background-color: #fff;
    color: #ff0000;
    position: absolute;
    bottom: 1rem;

}

.nav-btn {
    padding: 1rem;
    width: 90%;
    font-weight: bold;
    font-size: 1rem;
    transition: .4s ease-in;
    box-shadow:
        0.2px 0.2px 1.6px -2px rgba(0, 0, 0, 0.036),
        0.2px 0.2px 2.4px -2px rgba(0, 0, 0, 0.053),
        0.3px 0.3px 3px -2px rgba(0, 0, 0, 0.065),
        0.4px 0.4px 3.4px -2px rgba(0, 0, 0, 0.075),
        0.4px 0.4px 3.7px -2px rgba(0, 0, 0, 0.085),
        0.5px 0.5px 4px -2px rgba(0, 0, 0, 0.095),
        0.5px 0.5px 4.4px -2px rgba(0, 0, 0, 0.105),
        0.6px 0.6px 4.9px -2px rgba(0, 0, 0, 0.117),
        0.7px 0.7px 5.7px -2px rgba(0, 0, 0, 0.134),
        1px 1px 8px -2px rgba(0, 0, 0, 0.17);
}

.left-bar-button:hover {
    border-right: 0px;
    border-left: 6px solid #ad16ff;
    background-color: rgb(95, 1, 184);
    color: #fff;
}

.left-bar-button-logout:hover {
    border-right: 0px;
    border-left: 6px solid rgb(255, 29, 29);
    background-color: #af0101;
    color: #ffffff;
}

.main-wrapper {
    position: absolute;
    left: 10%;
    top: 5%;
    width: 80%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: center;
    justify-content: center;
    align-items: center;
}

.welcome-container {
    padding: 3rem;
    background-color: #7a7575;
    width:250px;
    height:1px;
    border-radius: 10px;
    box-shadow:
        2.8px 2.8px 2.2px rgba(0, 0, 0, 0.02),
        6.7px 6.7px 5.3px rgba(0, 0, 0, 0.028),
        12.5px 12.5px 10px rgba(0, 0, 0, 0.035),
        22.3px 22.3px 17.9px rgba(0, 0, 0, 0.042),
        41.8px 41.8px 33.4px rgba(0, 0, 0, 0.05),
        100px 100px 80px rgba(0, 0, 0, 0.07);
}

.auth-container {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    align-content: center;
    justify-content: center;
    flex-direction: row;
    height: 100vh;
}

.auth-heading {
    color: rgb(241, 240, 242);
}

.auth-form {
    gap: 1rem;
    height: 60vh;
    width: 30vw;
    border: none;
    border-radius: 10px;
    background-color: #4e4a50;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: center;
    justify-content: center;
}

.auth-field {
    width: 60%;
    padding: 1rem;
    color: #000;
    background-color: #ffffff;
    border: 1px solid grey;

}

.auth-field:focus {
    outline: 1px solid rgb(95, 1, 184);
}

.auth-btn {
    padding: 1rem;
    color: #ffffff;
    background-color: rgb(95, 1, 184);
    border: none;
    font-weight: bold;
    font-family: 'Cinzel', serif;
}
.app-x-shadow{
    box-shadow:
    2.8px 2.8px 2.2px rgba(0, 0, 0, 0.02),
    6.7px 6.7px 5.3px rgba(0, 0, 0, 0.028),
    12.5px 12.5px 10px rgba(0, 0, 0, 0.035),
    22.3px 22.3px 17.9px rgba(0, 0, 0, 0.042),
    41.8px 41.8px 33.4px rgba(0, 0, 0, 0.05),
    100px 100px 80px rgba(0, 0, 0, 0.07);
  
}

.auth-links{
    text-align: center;
    margin: 2rem;
    font-size: 1rem;
}

.auth-wrapper{
    display: flex;
    flex-direction: column;
    
}
a{
    text-decoration: none;
    color:#070707;
    text-align: center; 
    font-size : 30px;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
.centered-link {
    text-align: center; 
    margin-top: 20px;
  }
  
  .centered-link a {
    display: inline-block;
    padding: 10px 20px;
    background-color: #007bff;
    color: #ffffff;
    text-decoration: none;
    border-radius: 5px;
  }
  
  .centered-link a:hover {
    background-color: #0056b3;
  }
 
  .contact h1
  {
    font-size:30px;
    font-weight: 400;
    
  }
  .contact p{
    margin:30 px 0;
    color:#f30c74;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size:20px;
    
  }
  .contact .box p{
    font-size:17px;
    margin-top:10px;
  }
  .contact textarea,
  .contact input
  {
    width:100%;
    padding:15px;
    margin-bottom:15px;
    outline:none;
    border:1px solid grey;
  }
  .contact .flexSB input:nth-child(1)
  {
    margin-right:10px;
  }
  .contact h3{
    margin-top:20px;
    font-weight:500;
    margin-bottom:10px;
  }
  .contact h4{
    color:#1668ec;
    font-size:20px;
  }
 .image,
 .image2
 {
    width:200px;
    height: 210px;
 }
 .hero_cotent  .section_title{
    font-size:3rem;
    padding-right:50px;
    line-height:60px;
    margin-bottom:20px;

 }
 .highlights{
    color:var(--primary-color);
 }
 .hero_content p{
    font-size:1.1rem;
    color:var(--heading-color);
    margin-bottom:30px;
    line-height:30px;

 }
 .hero_btns
 {
    display:flex;
    align-items:center;
    column-gap:3rem;
 }
 .heart_rate h5, h6{
    font-size:.8rem;
    color:var(--heading-color);
    font-weight: 600;
}
.form{
    color:green;
    font-size:24px;
    padding-top:50px;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    
}
.confirm{
    color:#af0101;
    font-size:10px;
}
.hero_content{
    color:black;
    font-size: 100px;
}
.graph {
    padding: 10px;
    border-radius: 5px;
  
  }

  .graph .MuiSvgIcon-root {
    width: 100%;
    height: auto;
  }
  .photo
  {
    width: 480px;
    height:640px;
    float: right;
    padding:10px;
  }
 .text1
 {
    color: #000000;
    font-weight: 500;
    font-size:50px;
    font-family: 'Great Vibes', cursive;
    padding-right: 20px;
 }
 .text2
 {
    color:#ed41a0;
    font-size:40px;
    font-family: 'Great Vibes', cursive;
 }
 .text3, .text4,.text5
 {
    font-size: 37px;
    font-family: 'Great Vibes', cursive;
    color: #101010;
 }
.text6
{
    font-size:35px;
}
.expl, .sc
{
    width:250px;
    height:210px;
    border-radius: 170px;
    
}
.expltext, .expltext1, .expltext2, .expltext3, .expltext4
{
    color:#000;
    padding:left;
    
}
.expr
{
    color:#000;
}
.pic{
    width: 1px;
    height:1px;
    margin-top: 10%;
}

.bal{
    padding-left: 500px;
    color:rgb(255, 84, 5);
    font-size:30px;
    font-family: 'Arvo', serif;
}
.datas
{
    color:black;
    width:300px;
    padding-top: 80px;
    
}
.sche
{
    color:#bba007;
    font-size:40px;
}

.tr{
    width:290px;
    height:340px;
    padding-left: 40px;
    border-radius: 190px;
    
}
.schtxt, .schtxt1, .schtxt2, .schtxt3, .schtxt4, .schtxt5
{
    color: #000;
    font-size:20px;
}
.join{
    color:#0056b3;
    
}
.apply{
    color:green;
    font-size:15px;
}
.eve1,.eve2,.eve3,.eve4,.eve5,.eve6
{
      color:#000;
      font-size:15px;
}
.ev{

    width:270px;
    height:320px;
    padding-left: 40px;
    border-radius: 190px;
    
}
.rem{
    color:#af0101;
    font-size:20px;
    padding-right: 140px;
    padding-top: 40px;
}
.faq,.faq1,.faq2,.faq3
{
    color:#000;
    font-size:15px;
    padding-top:500px;
    padding-left: 290px;
    
}
.privacy
{
    font-size:20px;
    color:#070707;
    padding-top:100px;
    padding-right:300px;
}
.privacy1{
    font-size: 20px;
    color:#000;
    padding-left:10px;

}
.privacy2
{
    font-size:20px;
    color:#000;
    padding-left: 10px;
}
.term{
    font-size:20px;
    color:#000;

}
.term1{
    font-size:13px;
    color:#000;
    padding-left:180px;
}
.term2{
    font-size:20px;
    color:#000;
    padding-top: 50px;
}
.term3{
    font-size:20px;
    color:#000;
}
.term4{
    font-size:20px;
    color:#000;
}
.term5{
    font-size: 20px;
    color: #000;
}
.abouts{
    margin-bottom:-500px;
}
.vid1{
    font-family: 'Playfair Display SC', serif;
    color: #027e0d;
}
.ratio {
     padding-right: 550px;
}

.feedback-form-container {
    width: 560px;
    margin: 0 auto;
    padding: 50px;
    background-color: #c6649f;
    border: 1px solid #ddd;
    border-radius: 5px;
}

.feedback-form-container h1 {
    font-size: 28px;
    margin-bottom: 20px;
}

.feedback-form-container .feedback-submitted {
    font-size: 18px;
    margin-top: 10px;
}

.feedback-form-container form {
    margin-top: 20px;
}

.feedback-form-container label {
    display: block;
    font-size: 18px;
    margin-bottom: 5px;
}

.feedback-form-container input[type="text"],
.feedback-form-container input[type="email"],
.feedback-form-container input[type="tel"],
.feedback-form-container textarea {
    width: 100%;
    padding: 10px;
    font-size: 16px;
    border: 1px solid #e40a0a;
    border-radius: 5px;
    margin-bottom: 15px;
}

.feedback-form-container textarea {
    height: 150px;
}

.feedback-form-container button[type="submit"] {
    background-color: #007bff;
    color: #fff;
    border: none;
    padding: 10px 20px;
    font-size: 18px;
    border-radius: 5px;
    cursor: pointer;
}

.yoga{
    color: #000;
    margin-right: 1000px;
}

.para{
    color: #000;
    margin-top: 15px;
    margin-left:10px;
}
.y1{
    color:#ad16ff;
    margin-bottom:700px;
    margin-right:1000px;
    margin-top: 10px;
    
}
.act{
    width:390px;
    height:340px;
    padding-left: 40px;
    border-radius: 10px;
}
.activity, .activity1, .activity2, .activity3, .activity4
{
    color:#000;
    padding:left;
    
}



  
  